* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #d3d3d3;
}
.heading {
  margin-top: 10px;
  text-align: center;
  letter-spacing: 2px;
}

.slidecontainer {
  margin-top: 10px;
  width: 100%;
  text-align: center;
}

.delayTime {
  margin: 10px 20px;
  font-size: 20px;
  font-weight: 600;
}

/* start , stop , next button design */

.btnContainer {
  display: flex;
  align-items: initial;
  justify-content: center;
  margin-top: 25px;
  width: auto;
}
.btn {
  margin: 5px 10px;
  padding: 3px;
  width: 100px;
  border: none;
  background: #d65108;
  border-radius: 15px;
  color: white;
  font-size: 20px;
  font-weight: 600;
  transition: all 0.5s linear;
}
.btn:hover {
  cursor: pointer;
  background: #b54507;
}

/* generation count design */

.generationCount {
  margin-top: 10px;
  text-align: center;
  color: #b54507;
  font-weight: 1000;
}

/* grid and cell design */

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.box {
  margin-top: 20px;
  margin-bottom: 15px;
  padding: 5px;
  border: 3px solid black;
  background: white;
  display: grid;
  grid-template-columns: repeat(30, 20px);
  width: auto;
}

.cell {
  width: 20px;
  height: 20px;
  border: 1px solid black;
}

/* game rules design */

.gamesRule {
  position: fixed;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  background: #d65108;
  border-radius: 15px;
  width: 50%;
  height: 400px;
  padding: 25px 0;
  text-align: center;
}
.rulesCloseBtn {
  position: absolute;
  right: 15px;
  top: 15px;
  background: white;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rulesCloseBtn i {
  font-size: 30px;
  color: #d65108;
}
.rulesCloseBtn i:hover {
  color: #b54507;
}

.paragraph {
  margin-top: 15px;
  text-align: left;
  position: relative;
  left: 60px;
  font-style: italic;
  font-weight: 600;
}
.gamesRule h3 {
  margin-top: 15px;
  /*position: absolute;*/
  text-align: center;
  left: 60px;
}
.gamesRule ol {
  margin-top: 10px;
  position: absolute;
  left: 70px;
  text-align: left;
}
.rulesBtnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 25px;
}
.rulesBtn {
  width: 150px;
  height: 25px;
  border: none;
  color: #b54507;
  background: none;
  font-size: 20px;
  font-weight: 600;
}
.rulesBtn:hover {
  cursor: pointer;
  color: #682806;
}

/* media screen */

@media screen and (max-width: 700px) {
  /* start , stop , next button design */

  .btnContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .btn {
    margin: 5px 5px;
  }
  /* game rules design */
  .gamesRule {
    overflow-y: scroll;
  }
  .gamesRule ol {
    position: absolute;
    left: 40px;
    text-align: left;
  }
}

@media screen and (max-width: 650px) {
  /* grid design */
  .box {
    width: 330px;
    grid-template-columns: repeat(30, 10px);
  }
}
@media screen and (max-width: 560px) {
  /* game rules design */

  .rulesCloseBtn {
    position: absolute;
    right: 5px;
    top: 8px;
    background: white;
    width: 30px;
    height: 30px;
  }
}
